@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&family=Merriweather:wght@300&family=Montserrat:wght@100&family=Noto+Sans+Buhid&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,500&family=Roboto:wght@300;500&display=swap");

body {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ddd;
}
/*Generale*/
a {
  color: #222;
  text-decoration: none;
}
.color {
  display: inline-block;
  width: 25px;
  border-radius: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
}
.color-purple {
  background-color: #be418d;
}
.color-brown {
  background-color: #8c5e24;
}
strong {
  color: #f1c40f;
}
.btn {
  display: inline-block;
  padding: 5px;
  border-radius: 15px;
  font-size: 1.3rem;
  font-weight: bold;
}
i {
  font-size: 1.5rem;
}
.btn-primary {
  margin-top: 10px;
  background-color: white;
  color: #333;
  transition: transform 2s;
}
.btn-primary:hover {
  background-color: #222;
  color: #f1c40f;
  cursor: pointer;
  transform: translateY(5px);
}
.contenair {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
/*header*/
.header {
  display: flex;
  flex-direction: column;
  background-color: #333;
  height: 50px;
  line-height: 50px;
}
.header .nav-bar ul li:hover {
  background-color: #444;
}
.nav-bar ul,
h1 {
  margin: 0;
}
.nav-bar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.nav-bar ul li {
  margin-right: 15px;
}
.header a {
  color: #fff;
}
.header h1 {
  padding-left: 10px;
}
.active {
  background-color: #444;
}
/*img-text*/
.img-text {
  background-image: url(/images/cafe1.jpg);
  background-position: center;
  background-size: cover;
  height: 800px;
  text-align: center;
}
.img-text h1 {
  font-size: 40px;
}
.img-text p {
  font-size: 18px;
  letter-spacing: 0.5px;
}
.contenu {
  max-width: 600px;
  color: white;
  margin:150px auto;
}
.separator {
  margin: 10px auto;
  width: 100px;
  height: 10px;
  background-color: black;
}
/*section detaillé dans la partie centrale*/
.icon-text {
  display: flex;
  flex-direction: column;
  margin: 35px auto;
  text-align: center;
}
.contenu-detail {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.icon-text p {
  max-width: 600px;
  font-size: 15px;
  font-weight: bold;
}
/*img-person*/
.person {
  height: 450px;
  background-image: url(/images/cafe3.jpg);
  background-position: center center;
  background-size: cover;
}
/*Reservation*/
.reservation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px;
}
.reservation-clients p {
  max-width: 500px;
  margin: auto;
  font-size: 1rem;
  font-weight: 400px;
}
.btn-color {
  display: block;
  margin: 25px auto;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 20px;
  background-color: #222;
  color: #ddd;
  padding: 8px;
  transition: all 2s;
}
.btn-color:hover {
  background-color: #f1c40f;
  color: #222;
  transform: scale(1.5);
  cursor: pointer;
  border: 1px solid black;
}
/*footer*/
footer {
  background-color: #222;
  color: white;
  padding: 30px 0 30px 0;
}
footer p {
  text-align: center;
}
/*Nous trouver*/
.img-adresse {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 100px 0 100px 0;
}
.img-adresse img {
  margin-right: 30px;
  width: 600px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.img-adresse .titre-para .underline {
  border-bottom: 1px solid #333;
  padding-bottom: 10px;
}
/*contact*/
.contact-form-contenair {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
}
textarea {
  resize: none;
  height: 80px;
}
input,
label {
  margin-bottom: 3px;
}
/*Partie media-querries*/
@media screen and (max-width: 500px) {
  body{
    width:100%;
  }
  .header {
    flex-direction: column;
    text-align: center;
    height:100%;
  }
  .nav-bar {
    flex-direction: column;
    background-color: #222;
    text-align: center;
    
  }
  .header h1 {
    padding: 0;
  }
  .nav-bar ul {
    flex-direction: column;
    background-color: #222;
    color: #fff;
    width: 100%;
    padding-left: 0;
  }
  .header .nav-bar ul li{
    color:#fff;
    margin: 0;

  }
  .contenu p {
    font-size: 1.3rem;
  }
  .contenu-detail {
    flex-direction: column;
  }

}

/*section detaillé*/
.contenu-detail {
  flex-direction: column;
}
.img-text {
  /*height: 500px;*/
}
