@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&family=Merriweather:wght@300&family=Montserrat:wght@100&family=Noto+Sans+Buhid&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,500&family=Roboto:wght@300;500&display=swap");

body {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}
/*Generale*/
a {
  color: #222;
  text-decoration: none;
}
.btn {
  display: inline-block;
  padding: 5px;
  border-radius: 15px;
  font-size: 1.3rem;
  font-weight: bold;
}
.btn-primary {
  background-color: white;
  color: #333;
  transition: transform 2s;
}
.btn-primary:hover {
  background-color: #222;
  color: #fff;
  cursor: pointer;
  transform: translateY(5px);
}
.contenair {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
/*header*/
.header {
  display: flex;
  flex-direction: column;
  background-color: #333;
  height: 50px;
  line-height: 50px;
}
.header .nav-bar ul li:hover {
  background-color: #444;
}
.nav-bar ul,
h1 {
  margin: 0;
}
.nav-bar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.nav-bar ul li {
  margin-right: 15px;
}
.header a {
  color: #fff;
}
.header h1 {
  padding-left: 10px;
}
.active {
  background-color: #444;
}
/*img-text*/
.img-text {
  background-image: url(cafe1.jpg);
  background-position: center;
  background-size: cover;
  height: 700px;
  text-align: center;
}
.img-text h1 {
  font-size: 40px;
}
.img-text p {
  font-size: 18px;
  letter-spacing: 0.5px;
}
.contenu {
  max-width: 600px;
  color: white;
  margin: 160px auto;
}
.separator {
  margin: 10px auto;
  width: 100px;
  height: 10px;
  background-color: black;
}
